.header_inicio {
  width: 100%;
  height: 500px;
  margin-top: 40px;
  box-shadow: 0px 0px 5px #000;
  overflow: hidden;
}
.header_inicio .headerSlider {
  width: 500%;
  height: 100%;
  display: flex;
}
.header_inicio .headerSlider span {
  width: 20%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 680px) {
  .header_inicio .headerSlider span img {
    width: auto;
    height: 100%;
  }
}
@media only screen and (max-width: 680px) {
  .header_inicio .headerSlider span img {
    width: 100%;
    height: auto;
  }
}
.header_inicio .headerSlider .sliderSlideNash {
  background-image: url(../../img/home/banner/bkBannerNash.webp);
}
.header_inicio .headerSlider .sliderSlideSNash {
  background-image: url(../../img/home/banner/bkBannerSuperNash.webp);
}
.header_inicio .headerSlider .sliderSlideArrow {
  background-image: url(../../img/home/banner/bkBannerArrow.webp);
}
.header_inicio .headerSlider .sliderSlideMax {
  background-image: url(../../img/home/banner/bkBannerMax.webp);
}

main .company {
  width: 100%;
  min-height: 500px;
  margin-top: 50px;
  padding: 0px 10px 100px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
@media only screen and (min-width: 550px) {
  main .company h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 500;
    font-size: 1.5rem;
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
  }
  main .company p {
    width: 80%;
    max-width: 800px;
    text-align: center;
    font-family: "Noto Sans SC", sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 550px) {
  main .company h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 500;
    font-size: calc(0.5rem + 1.5vw);
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
  }
  main .company p {
    width: 100%;
    padding: 0px 10px;
    text-align: center;
    font-family: "Noto Sans SC", sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 1rem;
  }
}
main .company h1::before {
  content: "";
  position: absolute;
  top: calc(100% + 21px);
  width: 100px;
  height: 2px;
  background-color: #0478ab;
}
main .company h1::after {
  content: "";
  position: absolute;
  top: calc(100% + 25px);
  width: 100px;
  height: 2px;
  border-radius: 50%;
  background-color: #0478ab;
}
main .products {
  padding: 50px 0px;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
}
main .products h3 {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #e8e8e8;
  text-align: center;
  margin-bottom: 30px;
}
main .products span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0px 25px;
}
main .products span div {
  width: auto;
  display: flex;
  gap: 10px;
}
main .products span div .products_card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .products span div .products_card div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100px + 10vw);
  min-width: 150px;
  max-width: 300px;
  aspect-ratio: 11/10;
  box-shadow: 0px 0px 1px #fff;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}
main .products span div .products_card div a {
  position: absolute;
  bottom: 15%;
  background-color: #e8e8e8;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #0a0a0a;
  border-radius: 20px;
  padding: 8px 12px;
  filter: drop-shadow(0px 0px 2px #000);
}
main .products span div .products_card div a:hover::before {
  opacity: 1;
}
main .products span div .products_card div a::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.1s;
}
main .products span div .products_card span {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #e8e8e8;
}
main .products span div .card1 {
  background-image: url(../../img/home/nash.webp);
}
main .products span div .card2 {
  background-image: url(../../img/home/supernash.webp);
}
main .products span div .card3 {
  background-image: url(../../img/home/arrow.webp);
}
main .products span div .card4 {
  background-image: url(../../img/home/max.webp);
}
main .maps {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .maps div {
  width: 80%;
  height: 80%;
  background-color: #e8e8e8;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1100px) {
  .productBody {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.productHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
  padding: 50px calc(10px + 5vw);
  gap: 20px;
}
@media only screen and (min-width: 1100px) {
  .productHeader {
    width: 1100px;
  }
}
.productHeader h4 {
  font-family: "Noto Sans SC", sans-serif;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: calc(1rem + 2vw);
  text-align: start;
  width: 100%;
}
.productHeader h4 span {
  font-weight: bold;
}
.productHeader p {
  font-family: "Noto Sans SC", sans-serif;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 1rem;
  max-width: 700px;
}
.productHeader .aclarationSpan {
  font-family: "Noto Sans SC", sans-serif;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: -15px;
}
.productHeader div {
  display: flex;
  gap: 10px;
}
.productHeader div a {
  font-family: "Noto Sans SC", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 10px;
}
.productHeader div .productML {
  color: #f6f6f6;
  background-color: #0478ab;
  transition: background 0.1s;
}
.productHeader div .productML:hover {
  background-color: #24566b;
}
.productHeader div .productWP {
  color: #0478ab;
  border: 2px solid #0478ab;
  transition: border 0.1s;
}
.productHeader div .productWP:hover {
  border-color: #24566b;
  color: #24566b;
}

.gallery {
  max-width: 1100px;
  padding: 0px calc(10px + 5vw);
  margin-bottom: 100px;
}
@media only screen and (min-width: 1100px) {
  .gallery {
    width: 1100px;
  }
}
@media only screen and (max-width: 1100px) {
  .gallery {
    width: 100%;
  }
}
.gallery .sliderContainer {
  width: 100%;
  aspect-ratio: 15/9;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  background-color: #e8e8e8;
}
.gallery .sliderContainer button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  position: absolute;
  background-color: transparent;
  filter: drop-shadow(0px 0px 1px #000);
  cursor: pointer;
  z-index: 1000;
}
.gallery .sliderContainer button svg {
  height: 100%;
  width: 100%;
}
.gallery .sliderContainer #product_leftBtn {
  left: 10px;
  top: calc(50% - 25px);
}
.gallery .sliderContainer #product_rightBtn {
  left: calc(100% - 60px);
  top: calc(50% - 25px);
}
.gallery .sliderContainer .sliderRail {
  display: flex;
  height: 100%;
  min-width: 100%;
  transition: transform 0.3s;
  z-index: 500;
}
.gallery .sliderContainer .sliderRail div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .sliderContainer .sliderRail div iframe {
  width: 100%;
  height: 100%;
}
.gallery .sliderContainer .sliderRail div img {
  width: 100%;
  height: 100%;
}
.gallery .sliderContainer .sliderPages {
  width: 100%;
  height: 0px;
  filter: drop-shadow(0px 0px 1px #000);
  position: absolute;
  top: calc(100% - 20px);
  left: 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.gallery .sliderContainer .sliderPages span {
  width: 15px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  transition: background 0.2s;
}
.gallery .sliderContainer .sliderPages span:first-child {
  background-color: rgba(246, 246, 246, 0.9);
}

.productDescription {
  padding: 50px calc(10px + 5vw);
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1100px) {
  .productDescription {
    width: 1100px;
  }
}
@media only screen and (max-width: 1100px) {
  .productDescription {
    width: 100%;
  }
}
.productDescription h5 {
  width: 100%;
  font-family: "Noto Sans SC", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 40px;
  position: relative;
}
.productDescription h5::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #0478ab;
}
.productDescription .h5Left {
  text-align: start;
}
.productDescription .h5Right {
  text-align: end;
}
.productDescription div {
  display: flex;
  align-items: center;
}
.productDescription div p {
  font-family: "Noto Sans SC", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
}
.productDescription div .pLeft {
  text-align: start;
}
.productDescription div .pRight {
  text-align: end;
}
.productDescription div .pCenter {
  text-align: center;
}
.productDescription div ul {
  list-style: square;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
}
.productDescription div ul li {
  font-family: "Noto Sans SC", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
}
@media only screen and (max-width: 750px) {
  .productDescription div img {
    display: none;
  }
}
@media only screen and (min-width: 750px) {
  .productDescription div img {
    height: 100%;
  }
}

body {
  background-color: #f6f6f6;
}

@media only screen and (min-width: 600px) {
  .whatsappFloating {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .whatsappFloating {
    position: fixed;
    top: calc(100% - 50px);
    left: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px #6b6b6b;
    background-color: #3cee45;
    border-radius: 5px;
    padding: 4px;
    z-index: 70000;
  }
  .whatsappFloating svg {
    width: 100%;
    height: 100%;
  }
  .whatsappFloating:hover {
    background-color: #5bff63;
  }
}
nav {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 80000;
}
@media only screen and (min-width: 600px) {
  nav button {
    display: none;
  }
  nav .navImgR {
    height: 100%;
  }
  nav .navImgR img {
    height: 100%;
    padding: 6px 7px 8px 7px;
  }
  nav ul {
    list-style: none;
    padding-left: 15px;
    display: flex;
    gap: 20px;
  }
  nav ul div {
    display: none;
  }
  nav ul li a {
    font-family: "Noto Sans SC", sans-serif;
    text-decoration: none;
    color: #000;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    position: relative;
  }
  nav ul li a svg {
    display: none;
  }
  nav ul li a::before {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    width: 0px;
    height: 2px;
    background-color: #0478ab;
    opacity: 0;
    transition: opacity 0.3s, width 0.3s;
  }
  nav ul li a::after {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    width: 0px;
    height: 2px;
    background-color: #24566b;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
  }
  nav ul li a:hover::before {
    width: 100%;
    opacity: 1;
  }
  nav ul li a:hover::after {
    width: 50%;
    opacity: 1;
  }
  nav .navWhatsapp {
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    overflow: hidden;
  }
  nav .navWhatsapp .navWhatsapp_white {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 8px;
    transition: opacity 0.3s;
  }
  nav .navWhatsapp .navWhatsapp_green {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 8px;
    opacity: 0;
    filter: drop-shadow(2px 2px 0px #666666);
    transition: opacity 0.3s;
  }
  nav .navWhatsapp:hover .navWhatsapp_white {
    opacity: 0;
  }
  nav .navWhatsapp:hover .navWhatsapp_green {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  nav .navImg {
    display: none;
  }
  nav .navWhatsapp {
    display: none;
  }
  nav .navImgR {
    height: 100%;
  }
  nav .navImgR img {
    height: 100%;
    padding: 5px;
  }
  nav ul {
    background-color: #e8e8e8;
    position: absolute;
    top: 40px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 0px;
    padding: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: hidden;
    transition: opacity 0.2s, height 0.2s;
  }
  nav ul li a {
    font-family: "Noto Sans SC", sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  nav ul li a svg {
    height: 25px;
    width: 25px;
  }
  nav ul div {
    position: absolute;
    top: calc(100% - 180px);
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul div h3 {
    font-family: "Noto Sans SC", sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
  }
  nav ul div h3 span {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 500;
  }
  nav ul div h3 span svg {
    position: absolute;
    left: 100%;
    top: calc(50% - 8px);
    margin-left: 10px;
    height: 20px;
    width: 20px;
    filter: drop-shadow(0px 0px 1px #000);
  }
  nav ul div div {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-left: -40px;
    gap: 10px;
  }
  nav ul div div a {
    font-family: "Noto Sans SC", sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 13px;
    background-color: #5eb4da;
    border: 1px solid #24566b;
    border-radius: 15px;
    padding: 5px 8px;
    display: flex;
  }
  nav ul div div a svg {
    margin-left: 5px;
    width: 18px;
    height: 18px;
  }
  nav button {
    position: absolute;
    top: 0px;
    left: calc(100% - 60px);
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
  nav button svg {
    width: 40px;
    height: 40px;
  }
}

footer {
  width: 100%;
  min-height: 140px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #e8e8e8;
  margin-top: 50px;
  padding: 20px 5vw;
  gap: 30px;
}
footer div {
  width: 120px;
  margin-top: 20px;
}
footer div img {
  width: 100%;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 25px;
  gap: 5px;
}
footer ul li a {
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */