@import "_home.scss";
@import "_productStyle.scss";

@mixin textStyle {
    font-family: "Noto Sans SC", sans-serif;
    text-decoration: none;
    color: #000;
}

body {
    background-color: #f6f6f6;
}

@media only screen and (min-width: 600px) {
    .whatsappFloating {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .whatsappFloating {
        position: fixed;
        top: calc(100% - 50px);
        left: 10px;
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 5px #6b6b6b;
        background-color: #3cee45;
        border-radius: 5px;
        padding: 4px;
        z-index: 70000;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .whatsappFloating:hover {
        background-color: #5bff63;
    }
}

nav {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 80000;

    @media only screen and (min-width: 600px) {
        button {
            display: none;
        }

        .navImgR {
            height: 100%;

            img {
                height: 100%;
                padding: 6px 7px 8px 7px;
            }
        }

        ul {
            list-style: none;
            padding-left: 15px;
            display: flex;
            gap: 20px;

            div {
                display: none;
            }

            li {
                a {
                    @include textStyle;
                    letter-spacing: 0.5px;
                    font-weight: 300;
                    font-size: 0.9rem;
                    display: flex;
                    justify-content: center;
                    position: relative;

                    svg {
                        display: none;
                    }
                }

                a::before {
                    content: "";
                    position: absolute;
                    top: calc(100% + 2px);
                    width: 0px;
                    height: 2px;
                    background-color: #0478ab;
                    opacity: 0;
                    transition: opacity 0.3s, width 0.3s;
                }

                a::after {
                    content: "";
                    position: absolute;
                    top: calc(100% + 5px);
                    width: 0px;
                    height: 2px;
                    background-color: #24566b;
                    opacity: 0;
                    transition: opacity 0.5s, width 0.5s;
                }

                a:hover::before {
                    width: 100%;
                    opacity: 1;
                }

                a:hover::after {
                    width: 50%;
                    opacity: 1;
                }
            }
        }

        .navWhatsapp {
            position: relative;
            height: 40px;
            width: 40px;
            margin-left: 10px;
            overflow: hidden;

            .navWhatsapp_white {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                padding: 8px;
                transition: opacity 0.3s;
            }

            .navWhatsapp_green {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                padding: 8px;
                opacity: 0;
                filter: drop-shadow(2px 2px 0px #666666);
                transition: opacity 0.3s;
            }
        }

        .navWhatsapp:hover {
            .navWhatsapp_white {
                opacity: 0;
            }

            .navWhatsapp_green {
                opacity: 1;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .navImg {
            display: none;
        }

        .navWhatsapp {
            display: none;
        }

        .navImgR {
            height: 100%;

            img {
                height: 100%;
                padding: 5px;
            }
        }

        ul {
            background-color: #e8e8e8;
            position: absolute;
            top: 40px;
            left: 0px;
            opacity: 0;
            width: 100%;
            height: 0px;
            padding: 30px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 25px;
            overflow: hidden;
            transition: opacity 0.2s, height 0.2s;

            li {
                a {
                    @include textStyle;
                    font-weight: 300;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    svg {
                        height: 25px;
                        width: 25px;
                    }
                }
            }

            div {
                position: absolute;
                top: calc(100% - 180px);
                left: 40px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h3 {
                    @include textStyle;
                    font-size: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-weight: bold;

                    span {
                        display: flex;
                        align-items: center;
                        position: relative;
                        font-size: 18px;
                        font-weight: 500;

                        svg {
                            position: absolute;
                            left: 100%;
                            top: calc(50% - 8px);
                            margin-left: 10px;
                            height: 20px;
                            width: 20px;
                            filter: drop-shadow(0px 0px 1px #000);
                        }
                    }
                }

                div {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    padding-top: 15px;
                    margin-left: -40px;
                    gap: 10px;

                    a {
                        @include textStyle;
                        font-weight: 500;
                        font-size: 13px;
                        background-color: #5eb4da;
                        border: 1px solid #24566b;
                        border-radius: 15px;
                        padding: 5px 8px;
                        display: flex;

                        svg{
                            margin-left: 5px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }

        button {
            position: absolute;
            top: 0px;
            left: calc(100% - 60px);
            width: 40px;
            height: 40px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;

            svg {
                width: 40px;
                height: 40px;
            }
        }
    }
}

footer {
    width: 100%;
    min-height: 140px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #e8e8e8;
    margin-top: 50px;
    padding: 20px 5vw;
    gap: 30px;

    div {
        width: 120px;
        margin-top: 20px;

        img {
            width: 100%;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 25px;
        gap: 5px;

        li {
            a {
                color: #000;
                font-family: sans-serif;
                font-size: 12px;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}